<li id="recommendation-<%= recommendation.id %>">
  <p>
  <h4><span class="title"><%= recommendation.title %></span></h4>
  <span class="category">Category: <%= recommendation.category %></span><br>
  <span class="description">Description: <%= recommendation.description %></span>
  </p>
<br>
</li>
