<!-- To be filled in to display recommendations -->
<div>
  Description: <%= @recommendation.description %><br>
  Type: <%= @recommendation.category %><br>
  Words that describe <%= @recommendation.title %> <p>
  What do you think of this recommendation?<br>
</div>
