$(document).ready(function(){
  // once the recommendation title is clicked in app/views/users/review, the recommendation details will be shown
  $('#rec-title-<%=@recommendation.id %>').click(function() {
//    var overlay_black = 'position:absolute;top:0%;left:0%;width:100%;height:100%;background:black;z-index:1001;opacity:0.5;';
//    $('body').append('<div style="' + overlay_black + '"></div>');
//    var overlay_white = 'position:absolute;top:25%;left:25%;padding:5px;background-color:white;z-index:1002;overflow:auto;';
//    $('body').append('<div style="' + overlay_white + '"><p>heeeyyy</p></div>');

    el = document.getElementById('#rec-<%= @recommendation.id %>-details');
    //el.style.visibility = (el.style.visibility == "visibile") ? "hidden" : "visible";
    $('body').html('<%= escape_javascript(render 'feedback') %>');

  });
});
