<div class="container">
  <div id="nda-page">
    <p>By using this service you agree not to disclose any information, website 
    features, or details provided to you by Telmi Life, Inc.</p>
    <%= link_to "I Agree", signup_1_path, class: "btn btn-primary nda-btn" %>
    <%= link_to "I Decline", root_path, class: "btn btn-primary nda-btn" %>
  </div>
</div>