<h1 class="col-md-offset-1">Feed</h1>
<h4 class="col-md-offset-1">Make recommendations to other users based on the 
                            information they've provided.</h4>

<ul class="users col-md-offset-1">
  <% @users.each do |user| %>
    <li>
      <p>
      <%= link_to user.username, user %><br>
      Age: <%= age(user.id) %><br>
      Location: <%= user.location %><br>
      
      <% interests = [] %>
      <% interests << "things to read"         if user.read_interest? %>
      <% interests << "things to watch"        if user.watch_interest? %>
      <% interests << "things to listen to"    if user.listen_interest? %>
      <% interests << "things to play"         if user.play_interest? %>
      <% interests << "things to eat"          if user.eat_interest? %>
      <% interests << "places to visit"        if user.travel_interest? %>
      <% interests << "#{user.other_interest}" if user.other_interest? %>
      
      Looking for: <%= interests.join(", ") %><br>
    </li>
  <% end %>
</ul>

<br><br><br>
<h4 class="col-md-offset-4"> That's it for now! Check back later for more. </h4>
