<h1 class="col-md-offset-1">Feed</h1>
<h4 class="col-md-offset-1">Make recommendations to other users based on the 
                            information they've provided.</h4>

<ul class="users col-md-offset-1">
  <% @users.each do |user| %>
    <li>
      <p>
      <%= link_to user.username, user %><br>
      Age: <%= age(user.id) %><br>
      Location: <%= user.location %><br>
      
      <% interests = [] %>
      <% interests << "things to read" if user.books.any? %>
      <% interests << "things to watch" if user.movies.any? %>
      <% interests << "things to listen to" if user.songs.any? %>
      <% interests << "things to play" if user.games.any? %>
      <% interests << "things to eat" if user.foods.any? %>
      <% interests << "places to visit" if user.destinations.any? %>
      
      Looking for: <%= interests.join(", ") %><br>
    </li>
  <% end %>
</ul>

<br><br><br>
<h4 class="col-md-offset-4"> That's it for now! Check back later for more. </h4>
