<h1>This page will be used for TLM-5 Recommendation View</h1>
<p>Name: <%= @user.firstName %> <%= @user.lastName %></p><br>
<p>Username: <%= @user.username %></p><br>
<p>Location: <%= @user.location %></p>

