@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";

/* UNIVERSAL */

html{
  overflow-y: scroll;
  background: #444
}

.center{
  h1{
    font-size: 8em;
    letter-spacing: -11px;
    padding-top: 80px;
    font-weight: bold;
  }

  h2{
    font-size: 3em;
  }

  text-align: center;
  color: white;
  background: #444;
}

/* HEADER */

header{
  background: #ddd
}



@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* FORMS */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 40%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
  margin-bottom: 60px;
  background: #eee;
}

.btn {
  background: #eb7;
  width: 20%;
}

.datepicker-form {
  width: 15%;
  position: center;  
  autoclose: true;
  display: inline-block;
}

/* FORMAT OF DEBUG OUTPUT  */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

