@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";

/* UNIVERSAL */

html{
  overflow-y: scroll;
  background: white;
}

.center{
  h1{
    font-size: 8em;
    letter-spacing: -11px;
    padding-top: 80px;
    font-weight: bold;
  }

  h2{
    font-size: 3em;
  }

  text-align: center;
  color: #333;
}

body {
  padding-top: 80px;
}

/* TYPOGRAPHY */

h1, h2, h3, h4, h5, h6 {
  line-height:1;
}

h1 {
  font-size:3em;
  letter-spacing:-2px;
  margin-bottom:30px;
  text-align:center;
}

h2 {
  font-size:1.2em;
  letter-spacing:-1px;
  margin-bottom:30px;
  text-align:center;
  font-weight:normal;
  color:$gray-light;
}

p {
  font-size:1.1em;
  line-height:1.7em;
}


/* HEADER */

header{
  //background: #90eeff;
  background: #7bb3ff;
  a {
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    &:hover{
      color: #7bb3ff;
      background-color: white;
    }
  }
}

#logo {
  float: left;
  margin-right:10px;
  font-size:1.7em;
  color:#fff;
  text-transform:uppercase;
  letter-spacing:-1px;
  padding-top:9px;
  font-weight:bold;
  &:hover {
    color:#fff;
    text-decoration:none;
    background-color:#7bb3ff;
  }
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* FORMS */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 30%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
  margin-bottom: 60px;
  background: #eee;
}

/*LOGIN*/

.login-form {
  padding: 5px;
  margin-bottom: 0px;
  width: 70%;
  background: white;
  @include box_sizing;
}

.login-label {
  padding: 1px 0;
  font-size: 1.2em;
}

#login-screen{
  background: #eee; 
  margin-top: 100px; 
  width: 30%; 
  margin-left: 35%
}

.btn {
  background: #ffc77b;
  color: white;
  font-weight: bold;
  width: 80px;
  border: 1px solid #bbb;
  float: left;
}

.btn-secondary {
  background: #7bb3ff;
  border: 1px solid #bbb;
}

#login-btn-push {
  float: right;
  margin-right: 15%;
}

.login-center {
  margin-left: 15%;
}

#forgot-password {
  font-size: 1.2em;
  margin-top: 10px;
  float: left;
}


/*NDA*/

.nda-btn {
  float: right;
  width: 100px;
  margin-left: 30px;
}


/*SIGNUP*/

#signup-one {
  margin-left: 25%;
}

/*.signup-one-field {
  width: 300px;
}*/



.datepicker-form {
  width: 30%;
  position: center;  
  autoclose: true;
  display: inline-block;
}


/* FORMAT OF DEBUG OUTPUT  */
.debug_dump {
  clear: both;
  float: left;
  //position: absolute;
  //left:30%;
  //margin-right: -50%;
  width: 40%;
  margin-top: 45px;
  margin-left: 30%;
  @include box_sizing;
}

