// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* RECOMMENDATIONS */
.recommendations{
  list-style: none;
  width: 80%;
  //li {
  //  border-top: 1px solid #e8e8e8;
  //}
}

.users{
  font-size: 20px;
  list-style: none;
  width: 70%;
  li {
    border: 1px solid #f8f8f8;
    padding: 5px;
  }
}

.recommendation_form{
  border: 1px solid #e8e8e8;
  width: 25%;
  padding: 15px;
}

// recommendation form "I'm Done" button
#rec-form-submit{
  float: right;
}

// style for "New Recommendation" button
#new-recommendation{
  width: 250px;
  margin-left: 20%;
}

#recommendation-form{
  display: none;
  border: 1px solid #e8e8e8;
  width: 25%;
  padding: 15px;
  margin-top: 5%;
}
